<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- NUEVO: envío por WhatsApp - permiso básico para abrir enlaces web si es necesario. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- NUEVO: envío por WhatsApp - declara las aplicaciones que se consultarán. -->
    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="AppHandroll"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppHandroll">
        <activity
            android:name="com.example.apphandroll.MainActivity"
            android:exported="true"
            android:label="AppHandroll"
            android:theme="@style/Theme.AppHandroll">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
