<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="AppHandroll"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppHandroll">
        <activity
            android:name="com.example.apphandroll.MainActivity"
            android:exported="true"
            android:label="AppHandroll"
            android:theme="@style/Theme.AppHandroll">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
